    {% load static %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
        <!-- https://fonts.google.com/specimen/Open+Sans -->
        <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
        <!-- https://fontawesome.com/ -->
        <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
        <!-- https://fullcalendar.io/ -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- https://getbootstrap.com/ -->
        <link rel="stylesheet" href="{% static 'css/tooplate.css' %}">
    </head>



    <body id="reportsPage">
        <div class="" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-xl navbar-light bg-light">
                            <a class="navbar-brand" href="#">
                                <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                                <h1 class="tm-site-title mb-0">Dashboard</h1>
                            </a>
                            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Dashboard
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    {% if request.user.allusers.role == 'admissions_team' %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'diversity' %}">Diversity</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'module_list' %}">Module</a>
                                    </li>
                                {% endif %}
                                   
                                </ul>
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex" href="{% url 'logout' %}">
                                            <i class="far fa-user mr-2 tm-logout-icon"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="card mt-5" style="min-width: 100%;">
                      <div class="card-body dashboard-card-body">
                        <p class="card-title mb-4" style="color: #00008b;"> Modules</p>
                        <div class="table-responsive">
                          <table class="table table-striped-lms table-hover datatable" style="width: 100%;">
                            <thead>
                              <tr>
                                <th>S/N</th>
                                <th>Module</th>
                                <th>Total Student</th>
                              </tr>  
                            </thead>
                            <tbody>
                              {% for module in modules%}
                              <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td> {{ module.name}}  </td>
                                <td><span>{{ module.module_total_number_of_students }}</span> </td>
                                
                              </tr>
                              {% empty %}
                              <tr>
                                <td colspan="5">
                                  No modules available yet.
                                </td>
                              </tr>
                            {% endfor %} 
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  
                  
               
                
                <div class="row tm-content-row tm-mt-big">
                    
                    <div class="col-lg-6">
                        <div class="card chart mt-5">
                            <div class="card-body dashboard-card-body" style="color: #45459c;">
                                <h5 class="card-title chart" style="color: #000080;">Student in Each Module</h5>
                                <div id="studentChart"></div>
                            </div>
                        </div>
                    </div>

                    
                        <div class="col-lg-6">
                            <div class="card chart mt-5">
                                <form id="diversityFilterForm" method="get">
                                    <select name="diversityFilter" onchange="submitForm()">
                                        <option value="">All</option>
                                        {% for diversity in diversities %}
                                            <option value="{{ diversity }}">{{ diversity }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" style="display: none;">Apply</button>
                                </form>
                                <div class="card-body dashboard-card-body" style="color: #45459c;">
                                    <h5 class="card-title chart" style="color: #000080;">Student counts per module in {{query}}</h5>
                                    <div id="studentdiversityChart"></div>
                                </div>
                            </div>
                        </div>
                    
        
                </div>
                <footer class="row tm-mt-small">
                    <div class="col-12 font-weight-light">
                        <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                            Copyright &copy; 2023 Taofeeq
                            <a rel="nofollow" href="https://www.tooplate.com" class="text-white tm-footer-link">Taofeeq</a>
                        </p>
                    </div>
                </footer>
            </div>
        </div>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- https://jquery.com/download/ -->
        <script src="{% static 'js/moment.min.js' %}"></script>
        <!-- https://momentjs.com/ -->
        <script src="{% static 'js/utils.js' %}"></script>
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <!-- http://www.chartjs.org/docs/latest/ -->
        <script src="{% static 'js/fullcalendar.min.js' %}"></script>
        <!-- https://fullcalendar.io/ -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- https://getbootstrap.com/ -->
        <script src="{% static 'js/tooplate-scripts.js' %}"></script>


        <script>
            document.addEventListener("DOMContentLoaded", () => {
              var studentCounts = [];
              var moduleNames = [];
            
              // Replace this with your actual data loop
              {% for module in modules %}
                studentCounts.push({{ module.module_total_number_of_students }});
                moduleNames.push('{{ module.name }}');
              {% endfor %}
            
              new ApexCharts(document.getElementById("studentChart"), {
                series: [{
                  data: studentCounts
                }],
                chart: {
                  type: 'bar',
                  height: 350
                },
                plotOptions: {
                  bar: {
                    borderRadius: 4,
                    horizontal: true,
                  }
                },
                dataLabels: {
                  enabled: false
                },
                xaxis: {
                  categories: moduleNames,
                }
              }).render();
            });
          </script>

          <script>
    function submitForm() {
        document.getElementById("diversityFilterForm").submit();
    }
    </script>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        renderPieChart();

        function renderPieChart() {
            var studentDiversityData = [];
            var studentDiversityLabels = [];

            // Use the diversity_info from the context for chart data
            {% if diversity_info %}
                {% for info in diversity_info %}
                    studentDiversityData.push({{ info.student_count }});
                    studentDiversityLabels.push('{{ info.module_name }}');
                {% endfor %}
            {% endif %}

            new ApexCharts(document.getElementById("studentdiversityChart"), {
                series: studentDiversityData,
                labels: studentDiversityLabels, studentDiversityData,
                chart: {
                    type: 'pie',
                    height: 500,  // Adjust the height here
                    width: 330    // Adjust the width here
                },
                dataLabels: {
                    enabled: true
                },
                legend: {
                    position: 'bottom'
                }
            }).render();

        }
    });

    function submitForm() {
        document.getElementById("diversityFilterForm").submit();
    }
</script>

          
        
    </body>
    </html>